
p
{
    margin: 0;
}
.super_wrapper
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.common_wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 0 auto;
}
.common_main
{
    width: 80%;
    margin: 0 auto;
}
.common_footer
{
    width: 100%;
    border: 1px solid gold;
    flex: 0 0 auto;
}
.thumbnails_container
{
    width: 100%;
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.eachblock
{
    width: 204px;
    height: 400px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid chocolate;
    margin-top: 2%;
}
.poster
{
    min-height: 300px;

}
.faded
{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#response
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item
{
    margin-left: 10px;
}
.live_load_container
{
    box-sizing: border-box;

}
.live_search
{
    width: 300px;
    box-sizing: border-box;
}
.switch_buttons
{
    margin-bottom: 1%;
}
.search_field
{
    margin-top: 3%;
    padding-top: 60px;
}
.search_form
{

    display: flex;
    justify-content: space-around;
}

#tv_form
{
    display: flex;
}

.filters_field
{
    border: 1px solid gold;
}

html {
    overflow-y: scroll;
}
.slider-range_wrapper
{
    border: 1px solid gold;
    height: 30px;
    margin-top: 4%;
}
.chosen-select
{
    width: 300px;
}
.add_button
{
    margin-left: 20%;
    background-color: #9eb2d1;
    border: none;
    cursor: pointer;
}
.load_gif_container
{
    text-align: center;
    width: 100%;
}
#load_gif
{
    display: none;
}

/*details page styles*/

.movie-info_container
{
    padding: 1%;
}
.tag_container
{
 display: flex;
}

.movie-overview-links_container
{
 display: flex;

}
.movie-overview_response
{
    width: 100%;
    flex: 1;
    margin-left: 1%;
}

.movie-links_response
{
    flex: 1;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: column;
}

/* Basic 15 actors-card styles */
.cast-trailer_wrapper
{
    margin-top: 50px;
}
.movie-cast-trailer_container
{
    display: flex;
}
.cast-crew_wrapper
{
    flex: 1;
    margin-left: 1%;
}
.cast_container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cast_card
{
    width: 140px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.cast_img
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cast_inner_container
{

    display: flex;
    flex-direction: column;
}
.castname
{
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;

}
.rolename
{
    margin-left: 5px;
}
.show_cast, .show_crew
{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.show_cast
{
    margin-left: 10px;
}
.show_cast
{
    display: none;
}


/* Full cast mini-cards styles */

.cast_container_mini
{
    width: 100%;
    margin-left: 2%;
    display: flex;
    max-height: 700px;
    overflow-y: auto;
    flex-wrap: nowrap;
}
.cast_column
{
    flex: 1;
}
.mini_cast_card
{
    display: flex;
    margin-top: 5px;
}
.mini_cast_img
{
    height: 120px;
}
.crew_column
{
    flex: 1;
}

/* media for cast */

@media (max-width: 768px)
{
    .movie-cast-trailer_container
    {
        flex-direction: column;
    }
}


.comments_container
{
    flex: 1;
    margin-left: 1%;
    margin-right: 1%;
}

.hidden_genres_list
{
    display: none;
}
.showed_genres_list
{
    display: block;
}
.genre_list
{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}

#links_response
{
    min-height: 200px;
    max-height: 400px;
}
.no_result_links
{
    display: none;
}
.no_result_links img
{
    width: 300px;
}