/*
* Override default styles here
*/

/*  --  Logo styles  --  */
.logo {
    font-size: 22px;
    font-weight: 900;
    margin: 0;
}
.logo.white {
    color: white;
    padding: 7px 0;
}
.logo-fa {
    padding-left: 5px;
}
.header .brand {
    vertical-align: middle;
    width: 337px;
    text-align: center;
}