/*
* Override default styles here
*/

/*  --  Logo styles  --  */
.logo {
	font-size: 22px;
	font-weight: 900;
	margin: 0;
}
.logo.white {
	color: white;
	padding: 7px 0;
}
.logo-fa {
	padding-left: 5px;
}
.header .brand {
	vertical-align: middle;
	width: 230px;
	text-align: right;
}

/*  --  Pages social grid  --  */

.social-card.col1 {
	width: 140px;
}

.social-card.col2 {
	width: 300px;
}

.social-card.col4 {
	width: 620px;
}

.card-description h6 {
	font-size: .9rem;
}

/*  --  Pages gallery grid  --  */

.gallery-item[data-height="1"] {
	height: 420px;
}
