APP_NAME=HyperTube
APP_ENV=local
APP_KEY=base64:TKOVik4xAK9IFZSBeNt81fFiKOlSWBxSWbeiJntzjEk=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=587e2fe5f4e44a
MAIL_PASSWORD=58bb80c5e8bc78
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GITHUB_CLIENT_ID=d7c8d90fe7c0f5a7a63a
GITHUB_CLIENT_SECRET=f6d05d072315f94a95347abcbe52181251d60437
GITHUB_CALLBACK_URL=http://127.0.0.1:8000/login/github/callback

GOOGLE_CLIENT_ID=952010288693-u50i7cmf4e44mg4bbbiesnjcf1eson53.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=65kJirmSBS6eDHTnUy6BN_ud
GOOGLE_CALLBACK_URL=http://127.0.0.1:8000/login/google/callback

42INTRANET_REDIRECT_URL=https://api.intra.42.fr/oauth/authorize?client_id=4f6d26d3f129cd6566656953ef8d042df78629f948322583a831e9adfd6bc171&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Flogin%2F42%2Fcallback&response_type=code
42INTRANET_CLIENT_ID=4f6d26d3f129cd6566656953ef8d042df78629f948322583a831e9adfd6bc171
42INTRANET_CLIENT_SECRET=40c469bbc3f0bb0e1dcce65ebabe8a7e874ee1b54ad64f47dc47a6b72ecf5185
42INTRANET_CALLBACK_URL=http://127.0.0.1:8000/login/42/callback
